
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: 100px auto;
            background-color: #e9ecef;
            border-radius: 10px;
            padding: 40px;
        }

            .login-container h2 {
                text-align: center;
                margin-bottom: 30px;
                color: #343a40;
            }

            .login-container .form-control {
                border-color: #007bff;
            }

            .login-container .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }

                .login-container .btn-primary:hover {
                    background-color: #0056b3;
                    border-color: #0056b3;
                }
    </style>
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <form asp-action="SignIn" asp-controller="Login" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>

    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

