@model santsg.project.Entities.User;
@{
    ViewData["Title"] = "DeleteUserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete User</h1>

<form asp-action="DeleteUser" asp-controller ="User" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Id)</span>
    </div><br />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
