@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1566486106118-e1c24ad08802?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-left">
            <h1 class="w3-jumbo w3-animate-top">WELCOME!</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-medium text-center">Make your stay unforgettable!</p>
        </div>
    </div>

