@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Website !</h1>
    <p>Contact me <a href="https://www.linkedin.com/feed/?trk=homepage-basic_sign-in-submit">Yesim Ceylan</a>.</p>
    <img src="https://media.licdn.com/dms/image/D4D03AQG67KsuNXB8kw/profile-displayphoto-shrink_400_400/0/1707350154920?e=1715817600&v=beta&t=4OgLSiJEMWkJv0zjiTk3lfEHtXryv42ahFfQ40Ds3pY" style="height:100; width: 100;" />
</div>
