@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1773&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D ');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
            font-size:18px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="w3-jumbo w3-animate-top">WELCOME!</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%;">
    <p class="w3-medium text-center">Make your stay unforgettable!</p>
</div>


<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="https://plus.unsplash.com/premium_photo-1682513184135-b7b9b76fb4eb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="1600" height="500" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">Le Vacances</h1>
    </div>
</header>

<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <br /><br /><<br />&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="500" height="750">
    </div>



    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Us</h1><br>
        <h5 class="w3-center">Tradition since 1998</h5>
        <p class="w3-large">Our company, which provides hotel reservation services, was founded by Yeşim Ceylan. Our company aims to offer the most suitable and comfortable accommodation options by understanding the needs of travel enthusiasts. As a team, we constantly develop new and innovative approaches to perfect the travel experience of our guests. </p>
        <p class="w3-large w3-hide-medium">With a wide portfolio of hotels suitable for every taste and budget, we are flexible enough to meet any demand. We are here to help you realize your travel plans in the best possible way.We are here to make every moment special. We are waiting for you, contact us for an unforgettable accommodation experience.</p>
    </div>
</div>

<hr>



<div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>
        Our professional team will meet the needs of your event by meticulously planning every detail. If you want to make your events special and are looking for perfection, do not hesitate to contact us.
    </p>
    <p class="w3-text-blue-grey w3-large"><b>Travel Nest, 42nd Living St, 07070 Antalya, TR</b></p>
    <p>You can also contact us by phone 02420423366 or email info@travelnest.com</p>
</div>


