
@{
    ViewData["Title"] = "SearchedHotelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hotels</h1>

<div>
    @foreach (var hotelName in ViewBag.HotelName)
    {
        <p>@hotelName</p>
    }
</div>