@{
    ViewData["Title"] = "SearchedHotelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hotels</h1>

@{
    var hotels = ViewBag.Hotels;
}

<div>
    @foreach (var hotel in hotels)
    {       
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <div class="w3-card-4 w3-margin" style="width:50%">
                <div class="w3-display-container w3-text-white">
                    <img src="@hotel.HotelImage" alt="Lights" style="width:100%">
                    <div class="w3-xlarge w3-display-bottomleft w3-padding">
                        <a href="@Url.Action("HotelDetailsIndex","Hotel",new{id=@hotel.Id})">@hotel.HotelName</a>
                    </div>
                </div>
                <div class="w3-row">
                    <img src="https://t4.ftcdn.net/jpg/04/08/81/91/360_F_408819182_dBy5H00vMJSLwW7X3OcKHLRDm8BgUcDy.jpg"alt="sun"style="width:50px">
                    <span class="otel-text">@hotel.Location</span>                  
                </div>
            </div>
           
            <br />
    }
</div>